<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span style="font-size: 1em; color: dodgerblue;">
                <i class="fas fa-at"></i>
            </span>
            <email endereco="beatrizkah@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span style="font-size: 1em; color: dodgerblue;">
                <i class="fas fa-phone-alt"></i>
            </span>
            (61) 9 8549-6691 
            <br />
            <span style="font-size: 1em; color: Tomato;">
                <i class="fas fa-home"></i>
            </span>
            Bairro. Candangolândia - 71727-220 - Brasília
        </p>
    </div>
</div>




